---
layout: default
title: 我的Blog
---
<!-- <h2>{{ page.title }}</h2>
<p>最新文章</p>
<ul>
	{% for post in site.posts %}
	<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ul> -->
{% for post in site.posts %}
	<div class="content-body">
		<div class="container">
			<div class="row">
				<main class="col-md-8">
					<article class="post post-1">
						<header class="entry-header">
							<h1 class="entry-title">
								<a href="single.html">{{ post.title }}</a>
							</h1>
							<div class="entry-meta">
								<span class="post-category"><a href="#">{{ post.date | date_to_string }}</a></span>
							</div>
						</header>
						<div class="entry-content clearfix">
							<p>文章内容</p>
							<div class="read-more cl-effect-14">
								<a href="#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
							</div>
						</div>
					</article>
				</main>
			</div>
		</div>
	</div>
{% endfor %}