---
layout: default
title: Table
---

{% for post in paginator.posts %}
<article class="post post-1">
	<header class="entry-header">
		<h1 class="entry-title">
			<a href="single.html">{{ post.title }}</a>
		</h1>
		<div class="entry-meta">
			<span class="post-category"><a href="#">{{ post.date | date_to_string }}</a></span>
		</div>
	</header>
	<div class="entry-content clearfix">
		<p>{{ post.excerpt | strip_html }}</p>
		<div class="read-more cl-effect-14">
			<a href="#" class="more-link"> 继续阅读 <span class="meta-nav">→</span></a>
		</div>
	</div>
</article>
{% endfor %}

<!-- 分页 -->
<ul class="pagination">
  <li>
      <a href="{{ site.baseurl}}/page">
          <span>首页</span>
      </a>
  </li>
  <li>
  {% if paginator.page == 1 %}
      <span>&laquo;</span>
  {% else %}
      {% if paginator.previous_page == 1 %}
      <a href="{{ site.baseurl}}/page">
      {% else %}
      <a href="{{ site.baseurl}}/page{{ paginator.previous_page }}">
      {% endif %}
          <span>&laquo;</span>
      </a>
  {% endif %}
  </li>
  {% for i in (1..paginator.total_pages) limit:9 offset:{{paginator.page-1}} %}
      {% if paginator.page == i %}
  <li class="active">
      {% else %}
  <li>
      {% endif %}
      {% if i == 1 %}
      <a href="{{site.baseurl}}/page">{{i}}</a>
      {% else %}
      <a href="{{site.baseurl}}/page{{i}}">{{i}}</a>
      {% endif %}
  </li>
  {% endfor %}

  <li>
      {% if paginator.page == paginator.total_pages %}
      <span>&raquo;</span>
      {% else %}
      <a href="{{ site.baseurl}}/page{{ paginator.next_page }}">
          <span>&raquo;</span>
      </a>
      {% endif %}
  </li>
  <li>
      <a href="{{ site.baseurl}}/page{{paginator.total_pages}}">
          <span>末页</span>
      </a>
  </li>
  <li class="disabled">
      <span>第{{paginator.page}}页 / 共{{paginator.total_pages}}页</span>
  </li>
</ul>